
<div ng-include="'components/navbar/navbar.html'"></div>

<hr>
<h1>This is an "GPA" page!!</h1>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item">

            <form ng-submit="main.addData()">
                <input ng-model="gpa.courseTextField" type="text" size="25" placeholder="add a course to the list!">
                <input ng-model="gpa.creditTextField" type="number" size="25" placeholder="add a credit to the list!">
                <input ng-model="gpa.letterTextField" type ="text" size="25" placeholder="add a letter grade to the list!">

                <input type="submit" value="submit" class="btn btn-primary">
                <span class="floatRight">Items in this list: {{gpaCtrl.itemsInList()}}</span>
            </form>

        </li>
        <li class="list-group-item" ng-repeat="test in gpaCtrl.data">{{test}}<span class="glyphicon glyphicon-trash floatRight" style="color: red" ng-click="gpaCtrl.removeData($index)"></span></li>
    </ul>


</div>